/* src/Forgetpassword.css */

.forget-password-container {
    height: 100vh;
    /*background-image: url('/public/images/IMAGE2.png'); /* Path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .forget-password-form {
    background: rgba(255, 255, 255, 0.8); /* Slightly transparent white background */
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .message {
    color: green;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .btn-block {
    width: 100%;
    padding: 12px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-block:hover {
    background-color: darkorange;
  }
  
  .back-to-login {
    margin-top: 20px;
  }
  
  .back-to-login a {
    color: orange;
    text-decoration: none;
    text-decoration: underline;
  }
  
  .back-to-login a:hover {
    text-decoration: underline;
  }
  