.profile-page-container {
  display: flex;
}

.sidebar {
  position: fixed;

}

.manage-profile-container {
  flex: 1;
  max-width: 900px;
  margin: 60px auto;
  background-color: #f9f9f9;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  font-family: 'Arial', sans-serif;
}
